.idea
models
DropRecoveryPredictor/predictors/data
etc
.venv
.venv/
DropRecoveryPredictor/tests/predictors/config.cfg
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

DropRecoveryPredictor/config.cfg